@font-face {
  font-family: 'FontAwesome';
  src: url("../Fonts/fontawesome-webfont.eot?v=4.3.0");
  src: url("../Fonts/fontawesome-webfont.eot?#iefix&v=4.3.0") format('embedded-opentype'), url("../fonts/fontawesome-webfont.woff2?v=4.3.0") format('woff2'), url("../Fonts/fontawesome-webfont.woff?v=4.3.0") format('woff'), url("../fonts/fontawesome-webfont.ttf?v=4.3.0") format('truetype'), url("../Fonts/fontawesome-webfont.svg?v=4.3.0#fontawesomeregular") format('svg');
  font-weight: normal;
  font-style: normal;
}


body{
	margin: 0px;
}

div.everything{
	max-width: 900px;
	margin: 0px auto;
	overflow: auto;
}

div.quotes{
	position: relative;
	
}

	div.quotes:before{
		font: normal normal normal 64px/1 FontAwesome;
		content: "\f10d";
		float: left;
		position: absolute;
		margin-top: -25px;
		margin-left: -25px;
	}

	div.quotes:after{
		font: normal normal normal 64px/1 FontAwesome;
		content: "\f10e";
		float: right;
		position: absolute;
		bottom: -25px;
		right: -25px;
	}

header{
	height: 50px;
	width: 900px;
	background-color: #fff;
	position: fixed;
	z-index: 2;
}

	header img{
		float: left;
		height: 40px;
		margin-top: 5px;
		margin-left: 15px;
	}

	header nav ul{
		margin: 0px;
		float: right;
		margin-right: 15px;
		font-family: "Open Sans";
		font-weight: 300;
		font-size: 10pt;
	}

		header nav ul li{
			list-style: none;
			float: left;
			margin-left: 15px;
			line-height: 50px;
		}

			header nav ul li a{
				color: #000;
				text-decoration: none;
				cursor: pointer;
			}

				header nav ul li a:hover{
					text-decoration: underline;
				}

div.services-canvas{
	margin-top: 50px;
	width: 100%;
	height: 375px;
	background-color: #c0c0c0;
	position: relative;
	overflow: hidden;
	
	background-position: center;
	background-size: cover;
	transition: background-image 1s;
	
}

	div.services-canvas img{
		width: 100%;
		opacity: 0;
		transition: opacity 1s;
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
	}

			div.services-canvas img.current{
				opacity: 1;
			}

	div.services-canvas div.service-comment{
		background-color: white;
		width: 300px;
		height: 275px;
		margin-top: 50px;
		position: relative;
		margin-right: 30px;
		float: right;
		
	}
		div.services-canvas div.service-comment p{
			padding: 35px 30px;
			font-family: Open Sans, sans-serif;
			text-transform: uppercase;
			
		}

			div.services-canvas div.service-comment p span.strong{
				width: 100%;
				display: block;
				text-align: center;
				font-size: 30pt;
				font-weight: 700;
				border-width: 3px;
				border-style: solid none;
				border-color: #000;
				color: #7E1519;
				
			}


div.services{
	width: 100%;
	overflow: auto;
}

	div.services ul{
		padding: 0px;
		margin: 20px 0px 20px 0px;
		display: flex;
		flex-flow: row;
		justify-content: space-around;
		width: 100%;
		
	}

		div.services ul li{
			list-style: none;
			background-color: red;
			width: 50px;
			height: 50px;
			border-radius: 5px;
			float: left;
			position: relative;
			text-align: center;
			margin-bottom: 23px;
			cursor: pointer;
			transition: all 1s;
		}

			div.services ul li.current{
				transform: scale(1.2);	
			}

			div.services ul li:after{
				clear: both;
				color: black;
				font-size: 10pt;
				display: block;
				margin-top: 6px;
				margin-left: -40px;
				text-align: center;
				width: 130px;
				height: 15px;
				/* top: 0px; */
				/* position: absolute; */
				line-height: 15px;
				font-family: Open Sans, sans-serif;
				margin-top: 100%;
				top: 10px;
				position: absolute;
			}

			div.services ul li.research{
				background-color: #673AB7;
			}

				div.services ul li.research:after{
					content: "Research";
				}

			div.services ul li.branding{
				background-color: #2196F3;
			}

				div.services ul li.branding:after{
					content: "Branding";
				}

			div.services ul li.development{
				background-color: #4CAF50;
			}

				div.services ul li.development:after{
					content: "Web-Development";
				}

			div.services ul li.business{
				background-color: #607D8B;
			}

				div.services ul li.business:after{
					content: "Business";
				}

			div.services ul li.marketing{
				background-color: #FF9800;
			}

				div.services ul li.marketing:after{
					content: "Marketing";
				}

				div.services ul li a{
					line-height: 50px;
  					font-size: 20pt;
				}

div.recent-works{
	position: relative;
	overflow: auto;
	
}

	div.recent-works>h1{
		position: relative;
		margin: 15px;
		font-family: Open Sans, sans-serif;
		font-size: 16pt;
	}

	div.recent-works>ul{
		margin: 0px 0px 15px 0px;
		padding: 0px;
		width: 100%;
		display: flex;
		justify-content: space-around;
	}

		div.recent-works>ul>li{
			list-style: none;
			background-color: #c0c0c0;
			width: 200px;
			float: left;
			border-radius: 8px;
		}

			div.recent-works ul li div.img{
				background: yellow;
				width: 100%;
				height: 100px;
				border-radius: 8px;
				position: relative;
				overflow: hidden;
			}

				div.recent-works ul li div.img img{
					width: 100%;
					position: absolute;
					top: 50%;
  					transform: translateY(-50%);
				}

			div.recent-works ul li h1{
				position: relative;
				margin: 5px;
				font-family: Open Sans, sans-serif;
				font-size: 14pt;
			}

			div.recent-works ul li ul{
				padding: 0px;
				margin: 5px 5px;
				overflow: hidden;
				width: 135px;
			}

				div.recent-works ul li ul li{
					list-style: none;
					background-color: red;
					margin: 3px;
					padding: 5px;
					color: #fff;
					font-family: Open Sans, sans-serif;
					font-weight: 300;
					display: inline-block;
					float: left;
					border-radius: 3px;
				}


					div.recent-works ul li ul li.research{
						background-color: #673AB7;
					}


					div.recent-works ul li ul li.branding{
						background-color: #2196F3;
					}

					div.recent-works ul li ul li.development{
						background-color: #4CAF50;
					}

					div.recent-works ul li ul li.business{
						background-color: #607D8B;
					}

					div.recent-works ul li ul li.marketing{
						background-color: #FF9800;
					}

div.infographic{
	width: 100%;
	height: 60px;

	text-align: center;
	border-top: 3px solid;

}

	div.infographic a{
		line-height: 50px;
		font-family: Open Sans, sans-serif;
		font-weight: 300;
		text-decoration: none;
		font-size: 20pt;
		background-color: white;
  		color: #000;
		width: calc(100% - 10px);
		margin: 5px;
		display: block;
	}

div.blog-multidisciplinary{

	overflow: hidden;
	border-top: 3px solid;
	padding: 5px;
}

	div.blog-multidisciplinary div.multidisciplinary{
		background-color: #c0c0c0;
		width:66%;
		height: 505px;
		min-height: 200px;
		float: left;
		position: relative;
	}

		div.blog-multidisciplinary div.multidisciplinary div{
			width: calc(100% - 75px);
			background: white;
			margin: 35px;
			font-family: Roboto Slab;
  			font-weight: 300;

		}

			div.blog-multidisciplinary div.multidisciplinary div p{
				  padding: 35px 30px 0px 30px;
			}
				
			div.blog-multidisciplinary div.multidisciplinary div p:not(:first-child) {
				padding: 0px 30px 35px 30px;
			}
	div.blog-multidisciplinary div.blog{
		width: 33%;
		min-height: 200px;
		position: relative;
		float: right;
	}


		div.blog-multidisciplinary div.blog>h1{
			position: relative;
			margin: 15px;
			font-family: Open Sans, sans-serif;
			font-size: 16pt;
		}

		div.blog-multidisciplinary div.blog ul{
			padding: 0px;
			margin: 0px;
			
		}

			div.blog-multidisciplinary div.blog ul li{
				list-style: none;
				height: 100px;
				/* border-color: grey; */
				
				padding: 5px 0px;
			}

				div.blog-multidisciplinary div.blog ul li:not(:last-child){
					border-bottom: 2px solid;
					border-color: grey;
				}

				div.blog-multidisciplinary div.blog ul li div.img{
					background: grey;
					height: 100px;
					width: 100px;
					float: left;
					display: inline-block;
					position: relative;
					margin-left: 5px;
					margin-right: 5px;
					text-align: center;
					overflow: hidden;
				}

					div.blog-multidisciplinary div.blog ul li img{
						height: 100%;
						position: absolute;
						left: 50%;
						transform: translateX(-50%);
					}

				div.blog-multidisciplinary div.blog ul li h1{
					position: relative;
					margin: 5px;
					font-family: Open Sans, sans-serif;
					font-size: 14pt;
				}

					div.blog-multidisciplinary div.blog ul li h1 a{
						color: #000;
						text-decoration: none;
					}

					div.blog-multidisciplinary div.blog ul li h1 a:hover{
						text-decoration: underline;
					}

				div.blog-multidisciplinary div.blog ul li span.when{
					font-family: Open Sans, sans-serif;
					font-size: 10pt;
				}

footer{
	background-color: #252625;
	text-align: center;
	overflow: hidden;
}

	footer img{
		margin-top: 15px;
	}

	footer address{
		color: #bdbdbd;
		font-style: inherit;
		font-family: Open Sans, sans-serif;
  		font-weight: 300;
	}

		footer address a{
			font-style: inherit;
			font-family: Open Sans, sans-serif;
  			font-weight: 300;
			color: inherit;
			text-decoration: underline;
		}

	footer ul.social{
		margin: 10px 0px 30px 0px;
		padding: 0px;
		overflow: hidden;
	}

		footer ul.social li{
			display: inline-block;
			list-style: none;
			margin: 5px;
		}

			footer ul.social li a{
				color: grey;
				font-size: 18pt;
				text-decoration: none;
			}