@font-face {
  font-family: 'FontAwesome';
  src: url('../Fonts/fontawesome-webfont.eot?v=4.3.0');
  src: url('../Fonts/fontawesome-webfont.eot?#iefix&v=4.3.0') format('embedded-opentype'), url('../fonts/fontawesome-webfont.woff2?v=4.3.0') format('woff2'), url('../Fonts/fontawesome-webfont.woff?v=4.3.0') format('woff'), url('../fonts/fontawesome-webfont.ttf?v=4.3.0') format('truetype'), url('../Fonts/fontawesome-webfont.svg?v=4.3.0#fontawesomeregular') format('svg');
  font-weight: normal;
  font-style: normal;
}


body{
	margin: 0px;
}

div.everything{
	max-width: 900px;
	margin: 0px auto;
}

div.quotes{
	position: relative;
	
}

	div.quotes:before{
		font: normal normal normal 64px/1 FontAwesome;
		content: "\f10d";
		float: left;
		position: absolute;
		margin-top: -25px;
		margin-left: -25px;
	}

	div.quotes:after{
		font: normal normal normal 64px/1 FontAwesome;
		content: "\f10e";
		float: right;
		position: absolute;
		bottom: -25px;
		right: -25px;
	}

header{
	height: 50px;
	width: 100%;
	background-color: #fff;
}

	header img{
		float: left;
		height: 40px;
		margin-top: 5px;
		margin-left: 15px;
	}

	header nav ul{
		margin: 0px;
		float: right;
		margin-right: 15px;
		font-family: "Open Sans";
		font-weight: 300;
		font-size: 10pt;
	}

		header nav ul li{
			list-style: none;
			float: left;
			margin-left: 15px;
			line-height: 50px;
		}

div.services-canvas{
	width: 100%;
	height: 375px;
	background-color: blue;
	position: relative;
	overflow: auto;
	
}

	div.services-canvas div.service-comment{
		background-color: white;
		width: 300px;
		height: 275px;
		margin-top: 50px;
		position: relative;
		margin-right: 30px;
		float: right;
		
	}

div.services{
	width: 100%;
	height: 100px;
	background-color: green;
}

	div.services ul{
		padding: 0px;
		margin: 0px;
		display: flex;
		display: -moz-box;
		justify-content: space-around;
		
	}

		div.services ul li{
			list-style: none;
			background-color: red;
			width: 50px;
			height: 50px;
			float: left;
			position: absolute;
			
		}

div.recent-works{
	background-color: grey;
	position: relative;
	
}

	div.recent-works>h1{
		position: relative;
		margin-top: 0px;
	}

	div.recent-works>ul{
		margin: 0px;
		padding: 0px;
	}

		div.recent-works>ul li{

		}

			div.recent-works ul li img{
				
			}

			div.recent-works ul li h1{
				
			}

			div.recent-works ul li ul{
				
			}

				div.recent-works ul li ul li{
					
				}

div.infographic{
	width: 100%;
	height: 50px;
	background-color: pink;
	text-align: center;
}

	div.infographic a{
		
	}

div.blog-multidisciplinary{
	background-color: yellow;
	overflow: hidden;
}

	div.blog-multidisciplinary div.multidisciplinary{
		background-color: blue;
		width:66%;
		height: 200px;
		float: left;
		position: relative;
	}

		div.blog-multidisciplinary div.multidisciplinary div{
			
		}

	div.blog-multidisciplinary div.blog{
		background-color: red;
		width: 33%;
		height: 200px;
		position: relative;
		float: right;
	}

		div.blog-multidisciplinary div.blog ul{
			padding: 0px;
			margin: 0px;
			
		}

			div.blog-multidisciplinary div.blog ul li{
				list-style: none;
			}

footer{
	background-color: #252625;
	text-align: center;
}

	footer img{
		margin-top: 15px;
	}

	footer address{
		color: #fff;
		font-style: inherit;
	}

	footer ul.social{
		margin: 0px;
	}

		footer ul.social li{
			
		}